/*!----------------------IMPORTS-----------------------*/
@import url('./styles/home page.css');

/*!----------------------FONTS-----------------------*/
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*!---------------------RESET------------------------*/
* {
    margin: 0; 
    padding: 0;
    outline: 0;  
    border: 0;
    box-sizing: border-box; 
    cursor: default
} 

*::after,
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*!----------------------COLORS------------------------*/
:root {
    --basic-background: #000000;
    --transition-duration: .3s;
    --transition-font: .7s;
}

/*!------------------------BODY------------------------*/
html, body {
    background-color: var(--basic-background);
    font: 300 20px "Raleway", Arial, sans-serif;
    color: #cacaca;
    letter-spacing: 0.3em;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: url('/img/backgrounds/feather.jpg');
    background-size: cover;
}